<strong>Olá, {{deliveryman}} </strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{clientName}} <br/>
  <strong>Engereço: </strong> {{ street}}, {{number}}, {{city}}, {{state}}, {{zip}}
  <br/>
  <strong>Produto: </strong> {{product}} <br/>
  <br/>
</p>
